
{% extends 'base.html'%}

{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}


{% block content %}

<section class="section about-me" >
    <div class="container">
        
        <div class="left-image-post">
          <div class="row">
          
            <div class="col">
              <div class="left-text">
                <div class="section-heading">
                    <h2>About Me</h2>
                    <div class="line-dec mb-5"></div>
                    <h5>
                        {{info.description}}</h5>
                  </div>
                   
                       
                        
                    
              </div>
            </div>
        </div>
        <div class="right-image-post service-item">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <ul class="cta-info__list">
                    <p><h5 > <span>Name:</span> <span>Audu Paul</span></h5></p>
                    <p><h5 ><span>Address:</span> <span>77 Oduduwa way Ikeja Lagos</span></h5></p>
                    <p><h5 ><span>Zip code:</span> <span>100001</span></h5></p>
                    <p><h5 ><span>Email:<span>audupaul58@gmail.com</span></h5></p>
                    <p><h5 ><span>Phone:</span> <span>+234-8127590007</span></h5></p>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="{% static 'assets/images/right-image.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}